In [16]:
import numpy as np
import matplotlib as mpl
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [17]:
mpl.rcParams['font.sans-serif'] = [u'simHei']
mpl.rcParams['axes.unicode_minus'] = False

In [18]:
# 设置在jupyter中matplotlib的显示情况
%matplotlib tk

In [19]:
path = "car.data"
data = pd.read_csv(path, header=None)

In [20]:
for i in range(7):
    #print (i, np.unique(data[i]))
    print(data[i])

0       vhigh
1       vhigh
2       vhigh
3       vhigh
4       vhigh
5       vhigh
6       vhigh
7       vhigh
8       vhigh
9       vhigh
10      vhigh
11      vhigh
12      vhigh
13      vhigh
14      vhigh
15      vhigh
16      vhigh
17      vhigh
18      vhigh
19      vhigh
20      vhigh
21      vhigh
22      vhigh
23      vhigh
24      vhigh
25      vhigh
26      vhigh
27      vhigh
28      vhigh
29      vhigh
        ...
1698      low
1699      low
1700      low
1701      low
1702      low
1703      low
1704      low
1705      low
1706      low
1707      low
1708      low
1709      low
1710      low
1711      low
1712      low
1713      low
1714      low
1715      low
1716      low
1717      low
1718      low
1719      low
1720      low
1721      low
1722      low
1723      low
1724      low
1725      low
1726      low
1727      low
Name: 0, Length: 1728, dtype: object
0       vhigh
1       vhigh
2       vhigh
3       vhigh
4       vhigh
5       vhigh
6       vhigh
7       vhigh
8       vhigh
9       vhigh
10      vhigh
11      vhigh
12      vhigh
13      vhigh
14      vhigh
15      vhigh
16      vhigh
17      vhigh
18      vhigh
19      vhigh
20      vhigh
21      vhigh
22      vhigh
23      vhigh
24      vhigh
25      vhigh
26      vhigh
27      vhigh
28      vhigh
29      vhigh
        ...
1698      low
1699      low
1700      low
1701      low
1702      low
1703      low
1704      low
1705      low
1706      low
1707      low
1708      low
1709      low
1710      low
1711      low
1712      low
1713      low
1714      low
1715      low
1716      low
1717      low
1718      low
1719      low
1720      low
1721      low
1722      low
1723      low
1724      low
1725      low
1726      low
1727      low
Name: 1, Length: 1728, dtype: object
0           2
1           2
2           2
3           2
4           2
5           2
6           2
7           2
8           2
9           2
10          2
11          2
12          2
13          2
14          2
15          2
16          2
17          2
18          2
19          2
20          2
21          2
22          2
23          2
24          2
25          2
26          2
27          3
28          3
29          3
        ...
1698        4
1699        4
1700        4
1701    5more
1702    5more
1703    5more
1704    5more
1705    5more
1706    5more
1707    5more
1708    5more
1709    5more
1710    5more
1711    5more
1712    5more
1713    5more
1714    5more
1715    5more
1716    5more
1717    5more
1718    5more
1719    5more
1720    5more
1721    5more
1722    5more
1723    5more
1724    5more
1725    5more
1726    5more
1727    5more
Name: 2, Length: 1728, dtype: object
0          2
1          2
2          2
3          2
4          2
5          2
6          2
7          2
8          2
9          4
10         4
11         4
12         4
13         4
14         4
15         4
16         4
17         4
18      more
19      more
20      more
21      more
22      more
23      more
24      more
25      more
26      more
27         2
28         2
29         2
        ...
1698    more
1699    more
1700    more
1701       2
1702       2
1703       2
1704       2
1705       2
1706       2
1707       2
1708       2
1709       2
1710       4
1711       4
1712       4
1713       4
1714       4
1715       4
1716       4
1717       4
1718       4
1719    more
1720    more
1721    more
1722    more
1723    more
1724    more
1725    more
1726    more
1727    more
Name: 3, Length: 1728, dtype: object
0       small
1       small
2       small
3         med
4         med
5         med
6         big
7         big
8         big
9       small
10      small
11      small
12        med
13        med
14        med
15        big
16        big
17        big
18      small
19      small
20      small
21        med
22        med
23        med
24        big
25        big
26        big
27      small
28      small
29      small
        ...
1698      big
1699      big
1700      big
1701    small
1702    small
1703    small
1704      med
1705      med
1706      med
1707      big
1708      big
1709      big
1710    small
1711    small
1712    small
1713      med
1714      med
1715      med
1716      big
1717      big
1718      big
1719    small
1720    small
1721    small
1722      med
1723      med
1724      med
1725      big
1726      big
1727      big
Name: 4, Length: 1728, dtype: object
0        low
1        med
2       high
3        low
4        med
5       high
6        low
7        med
8       high
9        low
10       med
11      high
12       low
13       med
14      high
15       low
16       med
17      high
18       low
19       med
20      high
21       low
22       med
23      high
24       low
25       med
26      high
27       low
28       med
29      high
        ...
1698     low
1699     med
1700    high
1701     low
1702     med
1703    high
1704     low
1705     med
1706    high
1707     low
1708     med
1709    high
1710     low
1711     med
1712    high
1713     low
1714     med
1715    high
1716     low
1717     med
1718    high
1719     low
1720     med
1721    high
1722     low
1723     med
1724    high
1725     low
1726     med
1727    high
Name: 5, Length: 1728, dtype: object
0       unacc
1       unacc
2       unacc
3       unacc
4       unacc
5       unacc
6       unacc
7       unacc
8       unacc
9       unacc
10      unacc
11      unacc
12      unacc
13      unacc
14      unacc
15      unacc
16      unacc
17      unacc
18      unacc
19      unacc
20      unacc
21      unacc
22      unacc
23      unacc
24      unacc
25      unacc
26      unacc
27      unacc
28      unacc
29      unacc
        ...
1698    unacc
1699     good
1700    vgood
1701    unacc
1702    unacc
1703    unacc
1704    unacc
1705    unacc
1706    unacc
1707    unacc
1708    unacc
1709    unacc
1710    unacc
1711      acc
1712     good
1713    unacc
1714     good
1715    vgood
1716    unacc
1717     good
1718    vgood
1719    unacc
1720      acc
1721     good
1722    unacc
1723     good
1724    vgood
1725    unacc
1726     good
1727    vgood
Name: 6, Length: 1728, dtype: object

In [21]:
### 原始数据
data.head(10)

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc
5  vhigh  vhigh  2  2    med  high  unacc
6  vhigh  vhigh  2  2    big   low  unacc
7  vhigh  vhigh  2  2    big   med  unacc
8  vhigh  vhigh  2  2    big  high  unacc
9  vhigh  vhigh  2  4  small   low  unacc

In [22]:
### 字符串转换为序列id（数字）
X = data.apply(lambda x: pd.Categorical(x).codes)
X.head(10)

   0  1  2  3  4  5  6
0  3  3  0  0  2  1  2
1  3  3  0  0  2  2  2
2  3  3  0  0  2  0  2
3  3  3  0  0  1  1  2
4  3  3  0  0  1  2  2
5  3  3  0  0  1  0  2
6  3  3  0  0  0  1  2
7  3  3  0  0  0  2  2
8  3  3  0  0  0  0  2
9  3  3  0  1  2  1  2

In [23]:
### 进行哑编码操作
enc = OneHotEncoder()
X = enc.fit_transform(X)
print (enc.n_values_)

[4 4 4 3 3 3 4]

In [24]:
### 转换后数据
# print X.toarray()
pd.DataFrame(X.toarray()).head(5)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0